* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  color: #198efb;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #111418;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

main {
  display: flex;
}

.side-bg img {
  min-height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 55%;
  height: 60%;
  color: white;
}

.form h5 {
  font-size: 1rem;
  font-weight: 300;
}

.form h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

.login-button {
  display: flex;
  margin-top: 1rem;
}

.login-button .google-logo,
.login-button .apple-logo {
  background-color: #596168;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-button .apple-logo {
  margin-left: 0.25rem;
}

.google-logo p,
.apple-logo p {
  display: none;
}

.google-logo:hover,
.apple-logo:hover {
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
  background-color: #006adb;
}


.google-logo:hover p,
.apple-logo:hover p {
  margin-left: 1rem;
  display: block;

}

.divider {
  margin: 1.5rem 0;
}

.name-box,
.email-box,
.pass-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.name-box input,
.email-box input,
.pass-box input {
  background-color: #232a31;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 1.25rem 0.75rem;
  margin-top: 0.75rem;
}

.agree-option {
  margin-top: 2rem;
}

.reg-btn {
  background-color: #006adb;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 1.5rem;
  padding: 1.2rem 3.5rem;
  cursor: pointer;
}

.gear-icon {
  background-color: #596168;
  color: white;
  font-size: 2rem;
  padding: .5rem;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 30%;
  transition: .5s;
  cursor: pointer;
}

.gear-icon:hover {
  padding: 1rem;
  top: 29%;
  background-color: #006adb;
}

.gear-icon i:hover {
  transform: rotate(180deg);
  transition: 5s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}