* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  color: #198efb;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #111418;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

main {
  display: flex;
}

.side-bg img {
  min-height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 55%;
  height: 60%;
  color: white;
}

.form h5 {
  font-size: 1rem;
  font-weight: 300;
}

.form h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

.login-button {
  display: flex;
  margin-top: 1rem;
}

.login-button .google-logo,
.login-button .apple-logo {
  background-color: #596168;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button .apple-logo {
  margin-left: 0.25rem;
}

.divider {
  margin: 1.5rem 0;
}

.name-box,
.email-box,
.pass-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.name-box input,
.email-box input,
.pass-box input {
  background-color: #232a31;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 1.25rem 0.75rem;
  margin-top: 0.75rem;
}

.agree-option {
  margin-top: 2rem;
}

.reg-btn {
  background-color: #006adb;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 1.5rem;
  padding: 1.2rem 3.5rem;
}
